/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #004AAD;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#logo-btn {
    display: block;
}

#logo {
    width: 200px; /* Ajusta el tamaño del logo según lo necesites */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

.menu-toggle {
    display: none; /* Ocultar el icono de hamburguesa por defecto */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

nav.nav-menu {
    display: block;
}

nav.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav.nav-menu ul li {
    display: inline;
    margin-right: 20px;
}

nav.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.nav-menu ul li a:hover {
    color: #ddd;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* Estilos de los botones */
.buttons {
    text-align: center;
    margin-top: 100px;
}

.buttons .btn {
    background-color: #fff;
    color: #004AAD;
    padding: 10px 20px;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .btn:last-child {
    margin-right: 0;
}

.buttons .btn:hover {
    background-color: #eee;
}

/* Estilos de la sección Acerca de */
#about {
    background-color: #fff;
    padding: 80px 0;
    margin: 10px;
}

#about h2 {
    text-align: center;
}

/* Estilos de los testimonios */
.testimonial {
    margin-bottom: 40px;
    margin: 10px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial p {
    font-style: italic;
}

.testimonial cite {
    font-weight: bold;
}

/* Estilos del formulario de contacto */
#contact {
    background-color: #f2f2f2;
    padding: 80px 0;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact form label {
    display: block;
    margin-bottom: 10px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact form button {
    background-color: #004AAD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

#contact form button:hover {
    background-color: #003366;
}

#testimonials h2, #contact h2 {
    margin: 10px;
}

/* Estilos del pie de página */
footer {
    background-color: #004AAD;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos responsive */
@media only screen and (max-width: 768px) {
    /* Estilos del encabezado */
    header {
        padding: 10px;
    }

    #logo {
        width: 150px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }

    nav ul li {
        margin-right: 10px;
    }

    .container {
        position: relative;
    }

    nav.nav-menu {
        display: none;
        position: absolute;
        top: 100%; /* Alinear el menú debajo del encabezado */
        left: 0;
        width: 100%;
        background-color: #004AAD;
        z-index: 999;
        text-align: center;
    }

    nav.nav-menu.active {
        display: block;
    }

    .menu-toggle {
        display: block; /* Muestra el botón de hamburguesa en dispositivos móviles */
    }


    /* Estilos de la sección Acerca de */
    #about {
        padding: 40px 0;
    }

    /* Estilos de los testimonios */
    .testimonial img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    /* Estilos del formulario de contacto */
    #contact {
        padding: 40px 0;
    }

    #contact form {
        max-width: 90%;
    }

    /* Estilos de los botones */
    .buttons {
        text-align: center;
        margin-top: 100px; /* Reducir el margen superior para botones en dispositivos móviles */
    }

    .buttons .btn {
        display: block; /* Convertir botones en bloques para que ocupen todo el ancho */
        margin: 10px auto; /* Centrar los botones */
    }

    .buttons .btn:last-child {
        margin-bottom: 0; /* Eliminar el margen inferior para el último botón */
    }
}
